<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%- pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include("./partial/_header") %>
    <main class="form-container">
      <h2 class="page-title"><%- pageTitle %></h2>
      <%- include("./partial/_form") %>
    </main>
  </body>
</html>
