<header>
    <h1 class="site-title">Express Sample</h1>
    <div class="menu">
        <% if (isLoggedIn) { %>
        <a class="menu-item" href="/">Logout</a>
        <% } else { %>
        <a class="menu-item" href="/">Login</a>
        <% } %>
        <a class="menu-item" href="/register">Register</a>
    </div>
</header>
