<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%- pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include("../partial/_header") %>
    <main class="form-container">
      <h2 class="page-title"><%- pageTitle %></h2>
      <div class="user-detail">
        <h3 class="user-detail-heading">Dashboard</h3>
        <p class="user-detail-name">ログイン中:<%- userName %></p>
      </div>
    </main>
  </body>
</html>
